Client/Client/Connected Services/UserServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.SessionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.SessionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDTO" nillable="true" type="tns:ResponseDTO" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGuest" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocialNetworks" nillable="true" type="tns:ArrayOfSocialNetworkDTO" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfSocialNetworkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialNetworkDTO" nillable="true" type="tns:SocialNetworkDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialNetworkDTO" nillable="true" type="tns:ArrayOfSocialNetworkDTO" />
  <xs:complexType name="SocialNetworkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialNetworkId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialNetworkDTO" nillable="true" type="tns:SocialNetworkDTO" />
  <xs:complexType name="AddSocialNetworkResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewSocialNetworkId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSocialNetworkResponse" nillable="true" type="tns:AddSocialNetworkResponse" />
  <xs:complexType name="ArrayOfFriendDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDTO" nillable="true" type="tns:FriendDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDTO" nillable="true" type="tns:ArrayOfFriendDTO" />
  <xs:complexType name="FriendDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDTO" nillable="true" type="tns:FriendDTO" />
  <xs:complexType name="ArrayOfFriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestDTO" nillable="true" type="tns:ArrayOfFriendRequestDTO" />
  <xs:complexType name="FriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="SenderAvatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
  <xs:complexType name="ArrayOfMatchHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchHistoryDTO" nillable="true" type="tns:MatchHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchHistoryDTO" nillable="true" type="tns:ArrayOfMatchHistoryDTO" />
  <xs:complexType name="MatchHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="WinnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchHistoryDTO" nillable="true" type="tns:MatchHistoryDTO" />
</xs:schema>