Client/Client/Connected Services/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.SessionService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_StartRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRegistration" />
  </wsdl:message>
  <wsdl:message name="IUserService_StartRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRegistration" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ResendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IUserService_ResendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FinalizeRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeRegistration" />
  </wsdl:message>
  <wsdl:message name="IUserService_FinalizeRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAvatar" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAvatar" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangeUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUsername" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangeUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdatePersonalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdatePersonalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddSocialNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSocialNetwork" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddSocialNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSocialNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveSocialNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSocialNetwork" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveSocialNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSocialNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuest" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LogoutGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:LogoutGuest" />
  </wsdl:message>
  <wsdl:message name="IUserService_LogoutGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InitiateGuestRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiateGuestRegistration" />
  </wsdl:message>
  <wsdl:message name="IUserService_InitiateGuestRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiateGuestRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyGuestRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyGuestRegistration" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyGuestRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyGuestRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPendingRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequests" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPendingRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AnswerFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IUserService_AnswerFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMatchHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchHistory" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMatchHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReportUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReportUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="StartRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/StartRegistration" message="tns:IUserService_StartRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/StartRegistrationResponse" message="tns:IUserService_StartRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/VerifyRegistration" message="tns:IUserService_VerifyRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/VerifyRegistrationResponse" message="tns:IUserService_VerifyRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ResendVerificationCode" message="tns:IUserService_ResendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ResendVerificationCodeResponse" message="tns:IUserService_ResendVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizeRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FinalizeRegistration" message="tns:IUserService_FinalizeRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FinalizeRegistrationResponse" message="tns:IUserService_FinalizeRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserAvatar" message="tns:IUserService_GetUserAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserAvatarResponse" message="tns:IUserService_GetUserAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserAvatar" message="tns:IUserService_UpdateUserAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserAvatarResponse" message="tns:IUserService_UpdateUserAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangeUsername" message="tns:IUserService_ChangeUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangeUsernameResponse" message="tns:IUserService_ChangeUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdatePersonalInfo" message="tns:IUserService_UpdatePersonalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdatePersonalInfoResponse" message="tns:IUserService_UpdatePersonalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSocialNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddSocialNetwork" message="tns:IUserService_AddSocialNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddSocialNetworkResponse" message="tns:IUserService_AddSocialNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSocialNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RemoveSocialNetwork" message="tns:IUserService_RemoveSocialNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RemoveSocialNetworkResponse" message="tns:IUserService_RemoveSocialNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LoginAsGuest" message="tns:IUserService_LoginAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginAsGuestResponse" message="tns:IUserService_LoginAsGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogoutGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LogoutGuest" message="tns:IUserService_LogoutGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LogoutGuestResponse" message="tns:IUserService_LogoutGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitiateGuestRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InitiateGuestRegistration" message="tns:IUserService_InitiateGuestRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InitiateGuestRegistrationResponse" message="tns:IUserService_InitiateGuestRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyGuestRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/VerifyGuestRegistration" message="tns:IUserService_VerifyGuestRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/VerifyGuestRegistrationResponse" message="tns:IUserService_VerifyGuestRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetFriendsList" message="tns:IUserService_GetFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetFriendsListResponse" message="tns:IUserService_GetFriendsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SendFriendRequest" message="tns:IUserService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SendFriendRequestResponse" message="tns:IUserService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPendingRequests" message="tns:IUserService_GetPendingRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPendingRequestsResponse" message="tns:IUserService_GetPendingRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RemoveFriend" message="tns:IUserService_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RemoveFriendResponse" message="tns:IUserService_RemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AnswerFriendRequest" message="tns:IUserService_AnswerFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AnswerFriendRequestResponse" message="tns:IUserService_AnswerFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetMatchHistory" message="tns:IUserService_GetMatchHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetMatchHistoryResponse" message="tns:IUserService_GetMatchHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ReportUser" message="tns:IUserService_ReportUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ReportUserResponse" message="tns:IUserService_ReportUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartRegistration">
      <soap12:operation soapAction="http://tempuri.org/IUserService/StartRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyRegistration">
      <soap12:operation soapAction="http://tempuri.org/IUserService/VerifyRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IUserService/ResendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeRegistration">
      <soap12:operation soapAction="http://tempuri.org/IUserService/FinalizeRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAvatar">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetUserAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAvatar">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdateUserAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IUserService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <soap12:operation soapAction="http://tempuri.org/IUserService/ChangeUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalInfo">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdatePersonalInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSocialNetwork">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddSocialNetwork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSocialNetwork">
      <soap12:operation soapAction="http://tempuri.org/IUserService/RemoveSocialNetwork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <soap12:operation soapAction="http://tempuri.org/IUserService/LoginAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutGuest">
      <soap12:operation soapAction="http://tempuri.org/IUserService/LogoutGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiateGuestRegistration">
      <soap12:operation soapAction="http://tempuri.org/IUserService/InitiateGuestRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyGuestRegistration">
      <soap12:operation soapAction="http://tempuri.org/IUserService/VerifyGuestRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPendingRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IUserService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AnswerFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchHistory">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetMatchHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportUser">
      <soap12:operation soapAction="http://tempuri.org/IUserService/ReportUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="NetTcpBinding_IUserService" binding="tns:NetTcpBinding_IUserService">
      <soap12:address location="net.tcp://0.0.0.0:52001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:52001/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>