Client/Client/Connected Services/GameLobbyServiceReference/GameLobbyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameLobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameLobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.GameService" />
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.LobbyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameLobbyService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendChatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_FlipCard_InputMessage">
    <wsdl:part name="parameters" element="tns:FlipCard" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_FlipCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlipCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_VoteToKick_InputMessage">
    <wsdl:part name="parameters" element="tns:VoteToKick" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_VoteToKick_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoteToKickResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendInvitationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationEmail" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendInvitationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_ReceiveChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveChatMessage" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_PlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_PlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_UpdatePlayerList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerList" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_GameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStarted" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_UpdateTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTurn" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_ShowCard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowCard" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_HideCards_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HideCards" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_CardFlipped_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardFlipped" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SetCardsAsMatched_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetCardsAsMatched" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_UpdateScore_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateScore" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_GameFinished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameFinished" />
  </wsdl:message>
  <wsdl:portType name="IGameLobbyService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/Ping" message="tns:IGameLobbyService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/PingResponse" message="tns:IGameLobbyService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/JoinLobby" message="tns:IGameLobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/JoinLobbyResponse" message="tns:IGameLobbyService_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/CreateLobby" message="tns:IGameLobbyService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/CreateLobbyResponse" message="tns:IGameLobbyService_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/LeaveLobby" message="tns:IGameLobbyService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/LeaveLobbyResponse" message="tns:IGameLobbyService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/SendChatMessage" message="tns:IGameLobbyService_SendChatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/SendChatMessageResponse" message="tns:IGameLobbyService_SendChatMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/StartGame" message="tns:IGameLobbyService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/StartGameResponse" message="tns:IGameLobbyService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlipCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/FlipCard" message="tns:IGameLobbyService_FlipCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/FlipCardResponse" message="tns:IGameLobbyService_FlipCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoteToKick">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/VoteToKick" message="tns:IGameLobbyService_VoteToKick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/VoteToKickResponse" message="tns:IGameLobbyService_VoteToKick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvitationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/SendInvitationEmail" message="tns:IGameLobbyService_SendInvitationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/SendInvitationEmailResponse" message="tns:IGameLobbyService_SendInvitationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/ReceiveChatMessage" message="tns:IGameLobbyService_ReceiveChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/PlayerJoined" message="tns:IGameLobbyService_PlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/PlayerLeft" message="tns:IGameLobbyService_PlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerList">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/UpdatePlayerList" message="tns:IGameLobbyService_UpdatePlayerList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/GameStarted" message="tns:IGameLobbyService_GameStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/UpdateTurn" message="tns:IGameLobbyService_UpdateTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowCard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/ShowCard" message="tns:IGameLobbyService_ShowCard_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideCards">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/HideCards" message="tns:IGameLobbyService_HideCards_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CardFlipped">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/CardFlipped" message="tns:IGameLobbyService_CardFlipped_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCardsAsMatched">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/SetCardsAsMatched" message="tns:IGameLobbyService_SetCardsAsMatched_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/UpdateScore" message="tns:IGameLobbyService_UpdateScore_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameFinished">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/GameFinished" message="tns:IGameLobbyService_GameFinished_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameLobbyService" type="tns:IGameLobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameLobbyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlipCard">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/FlipCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoteToKick">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/VoteToKick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvitationEmail">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/SendInvitationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/ReceiveChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/PlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/PlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerList">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/UpdatePlayerList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStarted">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/GameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/UpdateTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCard">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/ShowCard" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideCards">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/HideCards" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardFlipped">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/CardFlipped" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCardsAsMatched">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/SetCardsAsMatched" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/UpdateScore" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameFinished">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/GameFinished" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameLobbyService">
    <wsdl:port name="NetTcpBinding_IGameLobbyService" binding="tns:NetTcpBinding_IGameLobbyService">
      <soap12:address location="net.tcp://0.0.0.0:53001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:53001/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>