Client/Client/Connected Services/GameLobbyServiceReference/GameLobbyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameLobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameLobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.LobbyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameLobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_SendChatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_ReceiveChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveChatMessage" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_PlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_playerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:playerLeft" />
  </wsdl:message>
  <wsdl:message name="IGameLobbyService_UpdatePlayerList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerList" />
  </wsdl:message>
  <wsdl:portType name="IGameLobbyService">
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/JoinLobby" message="tns:IGameLobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/JoinLobbyResponse" message="tns:IGameLobbyService_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/LeaveLobby" message="tns:IGameLobbyService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/LeaveLobbyResponse" message="tns:IGameLobbyService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameLobbyService/SendChatMessage" message="tns:IGameLobbyService_SendChatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/SendChatMessageResponse" message="tns:IGameLobbyService_SendChatMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/ReceiveChatMessage" message="tns:IGameLobbyService_ReceiveChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/PlayerJoined" message="tns:IGameLobbyService_PlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="playerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/playerLeft" message="tns:IGameLobbyService_playerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerList">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameLobbyService/UpdatePlayerList" message="tns:IGameLobbyService_UpdatePlayerList_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameLobbyService" type="tns:IGameLobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameLobbyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/ReceiveChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/PlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="playerLeft">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/playerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerList">
      <soap12:operation soapAction="http://tempuri.org/IGameLobbyService/UpdatePlayerList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameLobbyService">
    <wsdl:port name="NetTcpBinding_IGameLobbyService" binding="tns:NetTcpBinding_IGameLobbyService">
      <soap12:address location="net.tcp://localhost:53001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:53001/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>