Client/Client/Connected Services/GameLobbyServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.LobbyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.LobbyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLobbySummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbySummaryDTO" nillable="true" type="tns:LobbySummaryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbySummaryDTO" nillable="true" type="tns:ArrayOfLobbySummaryDTO" />
  <xs:complexType name="LobbySummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="GameCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFull" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySummaryDTO" nillable="true" type="tns:LobbySummaryDTO" />
  <xs:complexType name="ArrayOfLobbyPlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyPlayerInfo" nillable="true" type="tns:LobbyPlayerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyPlayerInfo" nillable="true" type="tns:ArrayOfLobbyPlayerInfo" />
  <xs:complexType name="LobbyPlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGuest" type="xs:boolean" />
      <xs:element minOccurs="0" name="JoinedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyPlayerInfo" nillable="true" type="tns:LobbyPlayerInfo" />
</xs:schema>